#!/bin/bash\n
if [ -z "*VERSION" ]\n
then\n
    VERSION="latest"\n
fi\n
if [ -z "*ST_WORKING_FOLDER" ]\n
then\n
      echo 'ST_WORKING_FOLDER is empty. It should have the absolute path to the source code working folder.'\n
      exit 1\n
fi\n
ARCH=`arch`\n
THEDOCKER="logronoide/atarist-toolkit-docker-*{ARCH}:*{VERSION}"\n

docker run -it --rm  -v *ST_WORKING_FOLDER:'/tmp' *THEDOCKER *@\n
