name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        arch: [x86_64, arm64]
    steps:
    - uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Run build and publish
      run: make all ARCH=${{ matrix.arch }}
      env:
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Sync
      uses: ms-jpq/sync-dockerhub-readme@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: logronoide/atarist-toolkit-docker-${{ matrix.arch }}
        readme: "./README.md"
  release:
    name: Release for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: [build]
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: install_atarist_toolkit_docker.sh
            asset_name: install_atarist_toolkit_docker.sh
          - os: ubuntu-latest
            artifact_name: install_atarist_toolkit_docker.cmd
            asset_name: install_atarist_toolkit_docker.cmd

    steps:
    - uses: actions/checkout@v2
    - name: Run build and publish
      run: make release
    - name: Upload shell scripts to release with version
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: target/release/${{ matrix.artifact_name }}
        asset_name: ${{ matrix.asset_name }}
        tag: ${{ github.ref }}
        overwrite: true
