name: Test

# Trigger when a pull request is received
on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v2
    - name: Run - build
      run: make build
